<div class="container-fluid main">
	<h1>Welcome to The Incense Shop!</h1>
	<h2>Your source for the topmost quality hand rolled incense sticks in the World</h2>
	<%= image_tag("incenses_01.png",  class: "img-responsive") %>
</div>