// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #440777;
	padding-top: 70px;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #00B3CC;
}

.footer {
	background-color: #062270;
}

.copyright {
	color: #00B3CC;
	padding: 10px 0 3px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form,
.navbar-inverse {
  border-color: #800020;
  background-color: #800020;
}