// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #440777;
	background-color: #F5F5F5;
	padding-top: 1.42em;
}

.navbar-inverse .navbar-nav > li > a {
  color: #00B3CC;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #440777;
	background-color: #00B3CC;
}

.navbar-inverse .navbar-brand {
color: #00B3CC;
font-family: 'Raleway', Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 1.5em;
letter-spacing: 0.7px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form,
.navbar-inverse {
  border-color: #800020;
  background-color: #800020;
}

.navbar-fixed-bottom {
	color: #00B3CC;
	background-color: #062270;
	padding: 15px 0;
}

.navbar-form {
  margin-left: 0em;
  margin-right: 0em;
}

.main {
	padding-bottom: 3.25em;
}

.carousel-caption {
	color: #800020;
  font-size: 2em;
  padding-bottom: 1.1em;
}

.img-carousel-center {
	margin: auto;
}

.carousel > a:hover {
	background-color: transparent;
	
}

.carousel-indicators {
  bottom: -1.3em;
}

.carousel-control.right, 
.carousel-control.left {
  background-image: none;
  background-repeat: no;
  filter: none;
  text-shadow: 0 1px 2px rgba(128,0,32,.6);
  width: 10%;
}

.carousel-indicators li {
  bottom: -1.3em;
  border: 0.08em solid #800020;
}

.carousel-indicators .active {
  background-color: #800020;
  opacity: 0.8;
}

.sed {
	border: 1px solid #800020;
	border-radius: 5px;
	font-size: 0.875em;
	text-align: center;
}

.sed > a {
	color: #800020;
	padding: 0 0.5em;
}

.sed > a:hover {
	background-color: #fff;
	color: #440777;
	font-weight: 600;
	text-decoration: none;
}

.page-title {
	color: #440777;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size: 2.1875em;
	font-weight: 300;
	line-height: 2.8125em;
	padding-bottom: 0.5em;
	text-align: center;
}

.a {
	text-decoration: none;
	color: #440777;
}
