<% if signed_in? %>
  <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
  <div class="sed">
    <h4>Add a review</h4>
      <%= f.text_area(:body, cols:60, rows: 4) %><br>
      Rating: <span class="rating"></span><br>
      <p>
        <%= f.submit "Submit" %>
      </p>
  </div>
  <% end %>
<% end %>