<div class="container">
	<div class="row">
		<div class="page-title">
			Editing Product
		</div>
	</div>
	<% if signed_in? && current_user.admin? %>
	<div class="row">
		<%= render 'form', product: @product %>
	</div>
	
	<div class="main"></div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-5 sed">
			<%= link_to 'Show', @product %> |
			<%= link_to 'Back', products_path %>
		</div>
	</div>
	<% else %>
		<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 well">
			<p class="text-uppercase text-center">You are not allowed to<br>edit any products!</p>
			<p>Probably the best thing what you can do is browse our products <%= link_to 'here', root_path %>.</p>
		</div>
	</div>
	<% end %>
	<div class="main"></div>
</div>