<p id="notice"><%= notice %></p>

<h1 class="page-title">Products</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render @products %>
    </div>
  </div>
  <div>
  	<%= link_to 'New Product', new_product_path %>
  </div>
</div>

<br>
<div class="main"></div>