<p id="notice"><%= notice %></p>

<h1 class="products">Products</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render @products %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>

<div class="main"></div>